# Core dependencies
flask
flask-cors
python-dotenv
flask-limiter
flask-socketio
flask_login
pymongo

# Machine Learning & Data Science
torch
transformers
vaderSentiment
numpy<2
scikit-learn
pandas
google-generativeai
nltk

# Connectivity
werkzeug
requests
eventLet
dnspython
python-engineio