/* About styles */
@font-face {
  font-family: "Amesterdam-One";
  src: url("../@resources/Amsterdam-One.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red-Hat-Display";
  src: url("../@resources/Red-Hat-Display.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies-Regular";
  src: url("../@resources/Rowdies-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../@resources/Open-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Red-Hat-Display", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(56, 56, 56, 0.627);
}

header {
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-family: "Rowdies-Regular", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
  color: #ff66c4;
}

h2 {
  color: #ffde59;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  margin: 10px 0;
}

.title {
  font-family: "Amesterdam-One", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
}

a.link,
a.link:visited {
  color: #000000;
  text-decoration: none;
}

a.link:hover,
a.link:active {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.small {
  font-size: 0.6rem;
}
