/* About styles */
body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AmesterdamOne";
  src: url("../@resources/AmsterdamOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content {
  flex-direction: column;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(56, 56, 56, 0.627);
}

header {
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-family: Rowdies, sans-serif;
  color: #ff66c4;
}

h2 {
  color: #ffde59;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  margin: 10px 0;
}

.title {
  font-family: "AmesterdamOne";
}

a.link,
a.link:visited {
  color: #000000;
  text-decoration: none;
}

a.link:hover,
a.link:active {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.small {
  font-size: 0.6rem;
}
