/*custom cursor and loading screen styles*/
body,
html {
  margin: 0;
  padding: 0;
  /*cursor: none;*/
  overflow: hidden;
}

/*Custom cursor
#circularcursor {
  pointer-events: none;
  background-color: transparent;
  border: 1px solid white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  transition: background-color 150ms, transform 150ms;
  will-change: transform;
  display: none;
}

Normal state for the cursor
#circularcursor.normal {
  background-color: transparent;
  transform: scale(1);
}

Hover effect for the cursor
#circularcursor.hover {
  background-color: white;
  transform: scale(2);
}

.launch-btn,
a,
button {
  cursor: none !important;
}*/

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top: 5px solid #ff66c4;
  border-radius: 50%;
  animation: spin 1s linear infinite, colorChange 2s ease-in-out infinite;
}

.copyright-footer {
  flex-shrink: 0;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0%,
  100% {
    border-top-color: #ff66c4;
  }
  50% {
    border-top-color: #ffde59;
  }
}
