/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-logo img {
  height: 6rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding-right: 1rem;
  transition: all 0.3s ease;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.nav-link:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 1rem;
    transition: max-height 0.3s ease;
    z-index: 100;
    height: auto;
    overflow-y: auto;
    max-height: 0;
  }

  .navbar-links.active {
    display: flex;
    max-height: 300px;
  }

  .nav-link {
    padding: 1rem;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .hamburger {
    display: block;
  }
}
